<% content_for :page_title, construct_page_title('Show Authority Groups') %>
<% content_for :page_header do %>
  <ul class="breadcrumb">
    <li><%= link_to 'CurateND', root_path %> <span class="divider">/</span></li>
    <li><%= link_to 'Authority Groups', admin_authority_groups_path %> <span class="divider">/</span></li>
    <li><span class="active">Show Group</span></li>
  </ul>

  <h1>Authority Group: <%= @admin_authority_group.auth_group_name %></h1>
<% end %>
<dl class="attributes">
  <dt>Description:</dt>
  <dd><%= @admin_authority_group.description %></dd>
  <dt>Controlling Class Name:</dt>
  <dd><%= @admin_authority_group.controlling_class_name %></dd>
  <dt>Currently Authorized Users:</dt>
  <dd><%= @admin_authority_group.authorized_usernames %></dd>
  <dt>Associated Group:</dt>
  <% if @admin_authority_group.associated_group %>
    <dd>Group ID: <%= link_to @admin_authority_group.associated_group.pid, edit_hydramata_group_path(@admin_authority_group.associated_group)%></dd>
    <dd>Name: <%= @admin_authority_group.associated_group.title %></dd>
    <dd>Description: <%= @admin_authority_group.associated_group.description %></dd>
    <%= render partial: 'authorized_users' %>
    <% end %>
</dl>
<%= link_to 'Edit Authority Group', edit_admin_authority_group_path(@admin_authority_group), class: 'btn btn-success' %>
<%= link_to 'Reauthorize Group', admin_refresh_path(@admin_authority_group), class: 'btn btn-danger' %>
